* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #f2f2f2;
  --blue_background: #03597a;
  --blue2: #05c7f2;
  --Blue_sky-1: #05dbf2;
  --margin_15px: calc(5vw - 1.5px);
}

html {
  font-size: 62.5%;
  font-family: "Rubik", sans-serif;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

body {
  background: var(--blue_background) !important;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  width: 100%;
  padding: 0 var(--margin_15px) 0 var(--margin_15px);
  background: linear-gradient(180deg, #05aff2 0%, rgba(1, 31, 43, 0.82) 100%);
  box-shadow: 0px 4px 2px rgba(3, 112, 156, 0.2);
  z-index: 10;
}

header img {
  height: 41px;
  width: 41px;
}

.navbar {
  display: flex;
  align-items: center;
}

.hamburger-container {
  width: 27px;
  height: 20px;
  cursor: pointer;
  overflow: hidden;
}

.line__size {
  height: 4px;
  width: 100%;
  background: var(--white);
  border-radius: 10px;
}

.navbar-items {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 48px;
  left: 0px;
  width: 100%;
  background-color: #0d455c;
  margin: 0;
  height: 0px;
  overflow: hidden;
  padding: 17px 15px;
  height: auto;
  top: -300px;
  transition: transform 1.5s;
  z-index: 10;
}

.navbar-items--show{
  transform: translateY(348px);
}

.navbar-items a {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 120%;
  color: var(--white);
  outline: none;
  text-decoration: none;
  border-bottom: 1px solid var(--Blue_sky-1);
  margin-top: 13px;
}

.navbar-items a:hover {
  color: var(--Blue_sky-1);
}

.line-1,
.line-2 {
  margin-bottom: 4px;
}

.line-1,
.line-2 {
  transition: transform 150ms ease-in-out;
}

.line-2 {
  transition: transform 100ms ease-in-out;
}

input {
  appearance: none;
}

input:checked + .hamburger-container .line-2 {
  opacity: 0.3;
  transform: translateX(-30px);
}

input:checked + .hamburger-container .line-3 {
  transform: translateY(-8px) rotateZ(135deg) scale(0.8);
}

input:checked + .hamburger-container .line-1 {
  transform: translateY(8px) rotateZ(45deg) scale(0.8);
}

main {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 48px);
  padding: 0 var(--margin_15px);
  z-index: 1;
}

.main-imagen {
  width: 100%;
  height: 100%;
  min-width: 310px;
  min-height: 210px;
  max-width: 430px;
  margin: 25px auto 0px;
}

.main-section h3 {
  grid-area: text-main;
  font-weight: bold;
  font-size: 2.53rem;
  line-height: 120%;
  color: var(--white);
}

.main-section img {
  grid-area: imagen-main;
  bottom: 25px;
  width: 100%;
  height: 100%;
  max-width: 230px;
}

.arrows-container {
  grid-area: row-main;
  height: 50px;
  width: 60px;
  animation: arrow;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  z-index: 4;
}

.main-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: stretch;
  justify-content: center;
  grid-template-areas:
    "text-main empty1"
    "empty2 imagen-main"
    "row-main imagen-main";
  width: 100%;
  height: Auto;
  margin-top: 25px;
}

.arrow {
  display: block;
  width: 60px;
  height: 20px;
  background-image: url("./assets/icons/arrow.svg");
}

@keyframes arrow {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.circle {
  position: absolute;
  width: 228px;
  height: 228px;
  z-index: 2;
}

.circle-up {
  position: absolute;
  width: calc(228px - 78px);
  height: 228px;
  right: 0px;
  top: 165px;
  background-image: url("./assets/image/circle.svg");
  background-repeat: no-repeat;
}

.circle-down {
  left: -68px;
  top: 409px;

  background: radial-gradient(
    43.75% 43.75% at 50% 50%,
    rgba(5, 219, 242, 0.57) 0%,
    rgba(5, 175, 242, 0) 100%
  );
}

.projects_containers {
  margin: 0 15px;
}

.section-width {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 0 var(--margin_15px);
}

.model1 {
  position: absolute;
  display: inline-block;
  height: 145px;
  width: calc(145px - 63px);
  right: -15px;
  top: -30px;
  background-image: url("./assets/image/model1.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}

.title-container {
  width: 100%;
  z-index: 8;
}

.title-container-header {
  display: flex;
  width: 100%;
  align-items: center;
  color: var(--white);
}

.title-container-header .title-imagen {
  height: 35px;
  width: 35px;
  margin-right: 17px;
}

.img-project {
  background-image: url("./assets/icons/img_project.svg");
}

.title-container-header h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 29px;
  line-height: 120%;
}

.line {
  margin-top: 7px;
  width: 100%;
  height: 2px;
  background: var(--blue2);
  box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.15);
  border-radius: 50px;
}

.project_container {
  margin-top: 23px;
  width: 100%;
  color: var(--white);
}

.project_container .project-title {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 120%;
  text-align: center;
  margin-bottom: 35px;
}

.project_info {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

.project_info--imagen {
  width: 100%;
  height: 100%;
  min-width: 291px;
  min-height: 200px;
  max-width: 600px;
  background: url("./assets/image/project.jpg");
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
  border-radius: 15px;
  margin: 0 auto;
}

.project_info--descrition {
  width: 100%;
}

.tags {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 13px;
}

.tags .tags-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70px;
  height: auto;
  margin-right: 7px;
}

.tags-item .tags-item--imagen {
  width: 45px;
  height: 45px;
}

.tags-item p {
  margin-top: 3px;
  color: var(--Blue_sky-1);
  font-family: Karla;
  font-style: normal;
  font-weight: 1;
  font-size: 1.2rem;
  line-height: 120%;
}

.heart_logo {
  width: 123px;
  height: 53px;
  margin: 19px auto 37px;
}

.img-video {
  background-image: url("./assets/icons/video_logo.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.videos-containers {
  width: 100%;
}

.video-section {
  width: 100%;
  margin: 23px auto;
  color: var(--white);
}

.video-section .video-section--title {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 120%;
  text-align: center;
  margin-bottom: 16px;
}

.video-section--item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.video-section--item iframe {
  width: 100%;
  min-width: 320px;
  max-width: 450px;
  margin-bottom: 27px;
}

.video-section--item .video--info {
  font-family: Karla;
  font-style: normal;
  font-weight: 1;
  font-size: 12px;
  line-height: 120%;
  text-align: justify;
  max-width: 450px;
}

.title-imagen-big {
  height: 45px;
  width: 55px;
  margin-right: 17px;
}

.img-team {
  background-image: url("./assets/icons/team_logo.svg");
  background-repeat: no-repeat;
}

.biography-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 23px;
}

.biography-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 239px;
  color: var(--white);
  margin-bottom: 27px;
}

.biography-item--img img {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  border: 5px solid var(--blue2);
  margin-bottom: 14px;
}

.biography-item h4 {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 120%;
  margin-bottom: 17px;
  text-align: center;
}

.biography-item p {
  font-family: Karla;
  font-style: normal;
  font-weight: 1;
  font-size: 15px;
  line-height: 120%;
  text-align: center;
}

.biography-item a{
  font-size: 17px;
  text-decoration: none;
  color: var(--Blue_sky-1);
  font-weight: 700;
}

.biography-item a:hover{
  color: var(--bl)
}

footer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 47px;
  color: var(--white);
  background-color: #00374d;
}
footer nav ul {
  list-style: none;
}

@media (min-width: 390px) {
  .main-section {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 35px 1fr 100px;
    justify-items: stretch;
    justify-content: center;
    grid-template-areas:
      "empty0 empty0 imagen-main"
      "empty1 text-main imagen-main"
      "empty2 row-main imagen-main";
    justify-items: center;
    margin-top: 0;
  }

  .main-section h3 {
    text-align: center;
    font-size: calc(3.7rem - 0.1vh);
  }

  .main-section img {
    opacity: 0;
  }

  .arrows-container {
    align-self: start;
  }

  .title-container-header h3 {
    font-size: 3.7rem;
  }

  .project_container .project-title,
  .video-section .video-section--title {
    font-size: calc(2.3rem + 1vh);
  }

  .project_info--descrition > p{
    text-align: justify; 
  }
  .project_info--descrition > p,
  .video-section--item .video--info {
    font-size: 1.8rem;
  }
}

@media (min-width: 800px) {
  header {
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
  }
  .main-section img {
    opacity: 1;
  }

  .navbar-items {
    display: inline;
    position: static;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    color: var(--white);
    height: auto;
    padding: 0;
    background-color: transparent;
    width: auto;
  }

  .navbar-items a {
    margin-left: 13px;
    border: none;
    margin-top: 0px;
  }

  .hamburger-container {
    display: none;
  }

  .article--javi{
    display: flex;
    width: 100%;
    justify-content: center;
  }
}

@media (min-width: 1000px) {
  .project_info {
    flex-direction: row;
    justify-content: space-between;
  }

  .project_container .project-title {
    text-align: center;
  }
  .project_info--descrition,
  .project_info .carousel {
    width: 50%;
  }

  .carousel-caption{
    background-color: rgba(49, 108, 121, 0.7);
    border-radius: 13px;
    box-shadow: 1px 1px 2px 1px rgba(46, 83, 92, 0.7);
  }

  .carousel-caption h5{
    font-size: 1.8rem;
    color: var(--white);
  }

  .carousel-caption p{
    font-size: 1.3rem;
    color: var(--white);
  }

  
  .carousel-dark .carousel-indicators [data-bs-target]{
    background-color: var(--blue2) !important;
  }
  
  .project_info--descrition {
    margin-left: 13px;
  }

  .videos-containers {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .video-section {
    width: 50%;
  }

  .biography-container {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .biography-item {
    width: 25%;
    margin: 15px 13px;
  }
}
